#options.json has sensitive information (name the oauth token) and should be ignored
options.json
#everyone has their own preferences
preferences.txt
#
#ignore certain folders
logs/
node_modules/
.idea/
#misc is to be used by modules for storing things
misc/
#
#